
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Liên hệ</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Liên hệ</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section contact">

        <div class="row gy-4">

            <div class="col-xl-6">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="info-box card">
                            <i class="bi bi-geo-alt"></i>
                            <h3>Địa chỉ</h3>
                            <p>Phường Tây Thạnh,<br> Quận Tân Phú, TP.HCM</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info-box card">
                            <i class="bi bi-telephone"></i>
                            <h3>Số điện thoại</h3>
                            <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info-box card">
                            <i class="bi bi-envelope"></i>
                            <h3>Email liên hệ</h3>
                            <p>info@example.com<br>contact@example.com</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info-box card">
                            <i class="bi bi-clock"></i>
                            <h3>Hỗ trợ</h3>
                            <p>Từ thứ 2 đến thứ 7<br> Từ 9:00AM - 05:00PM</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-6">
                <div class="card p-4">
                    @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "php-email-form" }))
                    {
                        <div class="row gy-4">

                            <div class="col-md-6">
                                <input type="text"  id="Name" name="Name" class="form-control" placeholder="Tên của bạn" required>
                            </div>

                            <div class="col-md-6 ">
                                <input type="email" class="form-control" id="Email" name="Email" placeholder="Email của bạn" required>
                            </div>

                            <div class="col-md-12">
                                <input type="text" class="form-control" id="Subject" name="Subject" placeholder="Bạn cần hỗ trợ gì?" required>
                            </div>

                            <div class="col-md-12">
                                <textarea class="form-control" id="Content" name="Content" rows="6" cols="12" placeholder="Mô tả yêu cầu của bạn" required></textarea>
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="loading">Loading</div>
                                <div class="error-message" style="background-color:white;"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                                <button type="submit">Gửi đi</button>
                            </div>
                        </div>
                    }
                </div>

            </div>

        </div>

    </section>

</main><!-- End #main -->
