<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <i class="bi bi-list toggle-sidebar-btn" style="margin-right:20px;"></i>
        <a href="@Url.Action("Index","HomeAdmin")" class="logo d-flex align-items-center">
            <img src="~/assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">GTXSTORE</span>
        </a>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown">
            <li class="nav-item dropdown pe-3">
                @if (Session["GENDER"].ToString().Equals("Nam"))
                {
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="~/assets/img/avatar.jpg" alt="Profile" class="rounded-circle">
                    <span style="margin-left:20px">Xin chào Admin! @Session["USERACCOUNT"].ToString()</span>
                </a>
                }
                else
                {
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="Url.Action(" HomeUser","User")" data-bs-toggle="dropdown">
                    <img src="~/assets/img/avatar2.jpg" alt="Profile" class="rounded-circle">
                    <span style="margin-left:20px">Xin chào Admin! @Session["USERACCOUNT"].ToString()</span>
                </a>
                }
            </li>
        </ul>
    </nav><!-- End Icons Navigation -->
</header><!-- End Header -->